/*
header color #004d40
body color #e0f7fa
*/

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #e0f7fa; /* Light blue background */
}

/* Slogan section styling */
preposition {
  position: relative;
  height: 100vh; /* Make header fill the entire viewport height */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; /* Ensure header spans the full width */
}

/**
 * ##############################################################################################
 * ===============================  N A V B A R  ====================================
 * ##############################################################################################
 */

/* NEW */

:root{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.page{
  min-height: 100vh;
  color: #004d40;
}

.navbar{
  position: sticky;
  top: 0;
  background-color: #00796b; /*#004d40 for a darker shade*/
  color: #fff;
  z-index: 10; /* Keep the nav on top */
}

.navbar-inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 4%;
}

.navbar-toggler,
.navbar-toggler-check{
  display: none;
}

.navbar-menu{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navbar-link{
  display: block;
  padding: .5rem 1.25rem;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
  transition: color .15s;
}

.navbar-link:hover{
  color: #fff;
}

.navbar-link-active{
  color: #fff;
  pointer-events: none;
}

.logo{
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.logo-link{
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width:1024px) {
  .navbar-menu{
     gap: .5rem;
  }
}

@media only screen and (max-width:768px) {
  :root{
     font-size: 15px;
  }
  
  .navbar-menu{
     position: absolute;
     top: -100vh;
     left: 0;
     width: 100%;
     flex-direction: column;
     padding: .5rem 4% 1rem;
     background-color: #00796b;
     z-index: -1;
     transition: top .5s;
  }

  .navbar-toggler{
     display: block;
     font-size: 1.5rem;
  }

  .navbar-toggler-check:checked + .navbar-menu{
     top: 64px;
  }
}

/* End NEW */

/**
 * ##############################################################################################
 * ===============================  END N A V B A R  ====================================
 * ##############################################################################################
 */


/* Slogan Section with Background Image */
.header-content {
  text-align: center;
  padding: 0;
  background-image: url('images/city.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-content img{
  width: 80%; /* Adjust the width of the image */
}

.header-content h1 {
  font-size: clamp(2.5rem, 5.45vw, 4rem); /* Use viewport width to make the font size responsive 4rem 5.45vw*/
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-content p {
  font-size: clamp(1.25rem, 2.045vw, 2rem); /* Use viewport width to make the font size responsive 1.5rem 2.045vw*/
  font-style: italic;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Homes Subpage */

/* Slogan Section with Background Image */
.header-content-homes {
  text-align: center;
  padding: 0;
  background-image: url('images/pilion_house/pilion_view.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh; /* Ensure it takes the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; /* Ensures the pseudo-element is positioned relative to this container */
  z-index: 0; /* Ensures content stays above the shadow overlay */
}

.header-content-homes h2 {
  color: white;
  font-size: clamp(2.5rem, 3.7vw, 4rem); /* Use viewport width to make the font size responsive 4rem 5.45vw*/
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}

.header-content-homes p {
  font-size: clamp(1.25rem, 1.3vw, 2rem); /* Use viewport width to make the font size responsive 1.5rem 2.045vw*/
  font-style: italic;
}

/* Mamidaki Subpage */

/* Slogan Section with Background Image */
.header-content-mamidaki {
  text-align: center;
  padding: 0;
  background-image: url('images/mamidaki_garden.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh; /* Ensure it takes the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; /* Ensures the pseudo-element is positioned relative to this container */
  z-index: 0; /* Ensures content stays above the shadow overlay */
}

/* Slogan Section with Background Image */
.header-content-pilion {
  text-align: center;
  padding: 0;
  background-image: url('images/city.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh; /* Ensure it takes the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; /* Ensures the pseudo-element is positioned relative to this container */
  z-index: 0; /* Ensures content stays above the shadow overlay */
  font-size: 2vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.header-content-mamidaki::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black shadow with 80% opacity */
  z-index: -1; /* Places the shadow overlay below the content but above the background */
}

.header-content-mamidaki h1 {
  font-size: clamp(2.5rem, 5.45vw, 4rem); /* Use viewport width to make the font size responsive 4rem 5.45vw*/
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-content-mamidaki p {
  font-size: clamp(1.25rem, 2.045vw, 2rem); /* Use viewport width to make the font size responsive 1.5rem 2.045vw*/
  font-style: italic;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.header-content-mamidaki img {
  border-radius: 2%; /* Adjust the value for the level of rounding 15px */
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
}

/* Main Content Section */
main {
  padding: 4.265% 4.265%; /* Use percentage-based padding for responsiveness 50px  4.25% 5%;*/
  text-align: center;
}

h2 {
  font-size: clamp(2rem, 3.41vw, 4rem); /* Use viewport width to make the font size responsive 4rem 5.45vw*/
  margin-bottom: 1.9%; /* Adjust the value for the level of rounding 20px */
  color: #004d40;
}

/* Contact Section */

#contact {
  color: #004d40;
}

#contact ul li {
  margin-left:5%;
  text-align: left;
}

#contact a {
  color: #004d40; /* Set link color */
}

/* Contact Emojis */

.contact-list {
  list-style: none;

  margin: 0;
  padding-top: 50px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

.contact-item .footer_mid_icons_inner{
  color: #00796b;
}

.footer_mid_icons_inner {
  margin-right: 10px;
  font-size: 1.2em;
  color: #333; /* adjust as needed */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* End Contact Emojis */

/* End Contact Section */

/* Homes Subpage */

#homes-content-general {
  color: #004d40;
  padding: 4.7% 5.55%; 
  flex: 1;
  min-width: 250px;
}

#homes-content {
  color: #004d40;
  padding: 10% 5.55% 1%; /* padding for: top right bottom left */
}

#homes-content-end {
  color: #004d40;
  padding: 10% 5.55% 10%; /* padding for: top right bottom left */
}

#homes-content h2, 
#homes-content-general h2{
  font-size: clamp(2rem, 3vw, 4rem); /* Use viewport width to make the font size responsive 4rem 5.45vw*/
  margin-bottom: 1.9%; /* Adjust the value for the level of rounding 20px */
  color: #004d40;
}

#homes-content-link a,
#homes-content-general a {
  color: #004d40; /* Set link color */
  padding: 0.3% 5.55%; 
}


#homes-content ul li,
#homes-content-general ul li {
  /* Alternatively, you can use margin-left */
  margin-left: 30px;
}

/* Homes container */
.homes-content-container {
  display: flex; /* Use flexbox to align items side by side */
  flex-wrap: wrap;
  gap: 20px; /* Add spacing between the text and gallery */
  align-items: flex-start; /* Align items at the top */
}

/* Responsive Image Gallery*/
.gallery {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.gallery a{
  color: #004d40;
  
}
.img-box{
  width: 300px; 
  margin: 10px;
  transition: all .5s;
  cursor: pointer;
}
.img-box img{
  width: 100%;
}
.img-box:hover{
  transform: scale(1.05);
}
.window{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.857);
  transition: all 0.8s;
}
.window.open{
  opacity: 1;
  pointer-events: all;
}
.window img{
  max-width: 90%;
  max-height: 85%; /* Ensure the image fits within the viewport */
  object-fit: contain; /* Maintain aspect ratio */
}
/*@media(max-width: 1100px){
  .window .full-img{
      width: 80%;
  }
}*/

.gallery-toggle summary {
  display: inline-block;
  padding: 10px 100px;
  background-color: #00796b;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  list-style: none; /* Removes default arrow */
  margin-bottom: 10px;
  user-select: none;
  transition: background-color 0.3s ease;
}

.gallery-toggle summary:hover {
  background-color: #004d40;
}

/* Optional: Hide the default triangle/arrow */
.gallery-toggle summary::-webkit-details-marker {
  display: none;
}
/*End of Responsive Image Gallery*/

/* End of Homes Subpage */

/* Blog Section */

#city-blog {
  color: #004d40;
  padding: 4.7% 5.55%; /* Use percentage padding for responsive spacing 50px; */
}

#policy { /* used for privacy-policy and terms-of-use */
  color: #004d40;
  text-align: left;
  line-height: 1.6; /* Make the text a bit more readable */
  margin: 0;
  padding: 6.632% 6.632%; /* Use percentage padding for responsive spacing 70px; */
}

#policy a {
  color: #004d40; /* Set link color #007BFF */
  text-decoration: none; /* Remove underline */
}

#policy a:hover {
  text-decoration: underline; /* Underline links on hover */
}

/* ############################################################################################*/

/* ===============================  F O O T E R  ==================================== */
.footer_section{
  color: white;
  margin: 0 auto;
}

/* ===============================  MID = F O O T E R  ==================================== */

.subscriber_mid {
  background-color: #00796b; /* before: a9d1ff ; subscriber_header #435978 */
  width: 100%; /* Full width of the parent container */
  height: 18.8vw; /* Set height as a percentage of the viewport height 220 */
  display: grid;
  grid-gap: 2%; /* Use percentage-based gap to keep layout consistent 25px */
  grid-template-columns: 25% 0.5% 35% 0.5% 30%; /* Use percentages for grid columns 0.7fr 0.01fr 1.6fr 0.01fr 1fr */
  grid-template-areas: 
    "first line second line2 last"; /* Define grid areas */
}

.subscriber_mid img {
  width: 70%;  /* Set width as a percentage of the parent container */
  height: auto;  /* Maintain aspect ratio */
}

.subscriber_mid .horizontal,
.subscriber_mid .horizontal2 {
  display: none;
}

.first_para{
  margin-left: 10%;
  margin-bottom: auto;
  margin-top: auto;
  grid-area: first;
}

#footer_first_head{
  font-weight: lighter;
}

.vertical {
  border-left: 1px solid #0000004d;
  height: 20vh; /* Use viewport height for responsiveness 156px */
  grid-area: line;
  margin-top: auto;
  margin-bottom: auto;
  width: 0.5%; /* Width as a small percentage of the container */
  position: relative; /* Keeps the position responsive */
}

.vertical2 {
  border-left: 1px solid #0000004d;
  height: 20vh; /* Use viewport height for responsiveness 156px */
  grid-area: line2;
  margin-top: auto;
  margin-bottom: auto;
  width: 0.5%; /* Set the width to a small percentage */
  position: relative; /* Keeps the element in its container flow */
}

.middle_para{
  grid-area: second;
  display: flex;
}

.last_para{
  grid-area: last;
}

.footer_About{
  /* margin: auto; */
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.footer_About_para{
  margin-top: 10%;
  margin-bottom: 10%;
}

.footer_About_head{
  color: white; /*before black*/
  font-size: clamp(1rem, 1.2vw, 1.4rem); /* current size: 1.4rem */
}

.footer_About_links{
  font-weight: lighter;
  color: white; /*before black */
  font-size: clamp(1rem, 1.2vw, 1.4rem); /* current size: 1.6rem */
}

.last_para{
  margin-top: auto;
  margin-bottom: auto;
}

.footer_form_mid{
  margin-top: 3%;
  display: flex;
  width: 100%;
}

.footer_mid_subscribe_bar {
  width: 100%; /* Full width of the parent container */
  max-width: 500px; /* Max width to limit the size on larger screens */
  font-family: inherit;
  color: #435978;
  font-weight: 500;
  border-radius: 50px 0px 0px 50px;
  border: 0px;
  padding: 2% 0px 2% 4%; /* Use percentage-based padding for responsiveness */
  font-size: 1rem;
  background: #F0F4EF;
  margin: 0 auto; /* Center align the subscribe bar */
}



.footer_mid_subscriber_button{
  border: 0px;
  width: 42%; /* former: 100px */
  max-width: 100%;
  font-size: 700; 
  padding: 3.7%; /* former: 13px */
  font-size: 1rem;
  color: white;
  letter-spacing: 0.08vw; /* former: 1px */
  grid-area: subscribe;
  font-family: sans-serif;
  background: #1b6169;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-left: 1%; */
  margin-right: 2%;
  font-weight: 500;
  border-radius:0px 50px 50px 0px;
  outline: 0;
  transition: all 0.2s;
}

.subscriber_button:hover{
  background: rgb(0, 140, 255);
}

.footer_mid_subscriber_button:hover{
  background: rgb(0, 140, 255);
}

.footer_mid_icons{
  margin: 2%;
  /* margin-left: 2%; */

}

.footer_mid_icons_inner:hover{
  color: #21d259;
}

.quick_signup{
  font-size: 1.4rem;
  font-weight: lighter;
}

.footer_last{
  margin-top: 4%;
  margin-bottom: 4%;
}

.footer_mid_icons_inner{
  font-size: 2rem;
  color: white;
  /* border: 1px solid blue; */
}

.icon_section{
  /* you can either set it to flex or block */
  display: block;

  margin-left: 15%;
}



/* ====================================== MID = F O O T E R  ENDS ======================================= */





/* ====================================== LAST = F O O T E R  STARTS ======================================= */
.subscriber_last{
  background-color: #1b6169; /* before: #0048ac; menu color: #00796b*/
  height: 70px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 2fr 0.01fr 3fr 1fr;
  grid-template-areas: 
  "logo line3 mid-section copyright";
  /*justify-content: center; */
}


.footer_logo_last{
  text-align: end;
  margin-top: auto;
  margin-bottom: auto;
}

.vertical3{
  border-left: 1px solid #0000004d;
  height: 15px;
  grid-area: line3;
  margin-top: auto;
  margin-bottom: auto;
}

.footer_last_mid_para{
margin-top: auto;
margin-bottom: auto;
}

#unleash{
  color: white;
  font-weight: lighter;
}

.copyright2{
  color: white;
  font-size: 0.7rem;
  font-weight: lighter;
}

.footer_last_last_para{
  margin-top: auto;
  margin-bottom: auto;
}

/* ====================================== LAST = F O O T E R  ENDS ======================================= */

/* -----------------------------MEDIA QUERIES----------------------------- */


/*
Größte min 1050px
dann das was ab 750 kommt

*/
@media only screen and (max-width: 1050px) {
  .subscriber_head{
      grid-template-columns: 0.5fr 2.5fr 0.5fr;
  }
  #free_daily_updates{
      display: none;
  }

  .quick_signup{
  display: none;
  }
}

@media only screen and (max-width: 950px) {
  .subscriber_head{
      grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  .subscriber_mid{
      flex-wrap: wrap;
      grid-template-columns:1fr;
      grid-template-rows: 0.9fr 0.01fr 0.9fr 0.01fr 0.9fr;
      grid-template-areas:
      "first"
      "horizontal"
      "second"
      "horizontal2"
      "last";
      height: 100%;
      grid-gap: 0px;
  }

  .first_para{
      margin-left: 3%;
  }

  .middle_para{
      flex-wrap: wrap;
  }
  
  .last_para{
      text-align: center;
      flex-wrap: wrap;
  }
  
  .footer_mid_subscriber_button{
      margin-right: 0;
  }

  .vertical{
      display: none;
  }

  .vertical2{
      display: none;
  }

  .vertical3{
      display: none;
  }

  .subscriber_mid .horizontal,
  .subscriber_mid .horizontal2 {
    display: block;
  }

  .horizontal{
      border-bottom: 1px solid #0000004d;
      grid-area: horizontal;
  }
  
  .horizontal2{
      border-bottom: 1px solid #0000004d;
      grid-area: horizontal2;
  }

  .contacts h4{
      text-align: left;
      margin-left: 2%;
      margin-top: 2%;
      margin-bottom: 2%;
  }

  .contacts{
      margin-top: 3%;
      margin-bottom: 3%;
  }

  .icon_section{
      margin-left: 0%;
      justify-content: center;
      font-size: 1.5rem; /* Make the icon section smaller */
  }

  .footer_mid_icons_inner{
      font-size: 2rem; /* Adjust icon size */
  }

  .subscriber_last{
      display: block;
      width: 100%;
      height: 100%;
      padding: 1%;
  }

  .footer_logo_last{
      text-align: center;
  }

  .footer_last_mid_para{
      text-align: center;
  }

  .footer_last_last_para{
      text-align: center;
  }

  .footer_last{
    margin: 0;
    flex: 1; /* Increase flex value to give more space */
    margin-right: 2%; /* Add some margin for spacing */
  }

  /* New styles to place footer_form_mid and contacts next to each other */
  .last_para {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }

  .footer_About_head{
    font-size: 1rem;
  }

  .footer_About_links{
      font-size: 1rem;
  }

  #footer_first_head{
      font-size: 1.2rem;
  }

  .footer_para h5{
      font-size: 1.2rem;
  }

  .contacts {
      flex: 1; /* Decrease flex value to give less space */
      margin-left: 1%; /* Add some margin for spacing */
  }
}

@media only screen and (max-width: 576px) {


  .subscriber_head{
      grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  .subscriber_mid{
      grid-template-columns:1fr;
      /* grid-template-rows: 1.2fr 0.01fr 1fr 0.01fr 1fr; */
      grid-template-rows: 0.5fr 0.01fr 0.5fr 0.01fr 0.5fr;
      grid-template-areas:
      "first"
      "horizontal"
      "second"
      "horizontal2"
      "last";
      height: 100%;
      grid-gap: 0px;
  }


  .horizontal{
      border-bottom: 1px solid #0000004d; 
      grid-area: horizontal;

 
  }
  
  .horizontal2{
     border-bottom: 1px solid #0000004d;       
     grid-area: horizontal2;

  }


  .middle_para{
      text-align: left;
  }

  .footer_About{
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 8.4%;
      margin-right: 8.4%;
  }


}

@media only screen and (max-width: 530px) {
  /*The text in Subscribe bar should be smaller*/
  .footer_mid_subscribe_bar
  {
      font-size: 0.8rem;
  }
}

@media only screen and (max-width: 460px) {


  /*The text in Subscribe bar should be smaller*/
  .footer_mid_subscribe_bar
  {
      font-size: 0.8rem;
  }
}

/* Media query for laptop screen sizes */
@media only screen and (min-width: 1200px) {
  nav {
    padding: 0.5% 1%; /* Reduce padding for thinner nav bar */
  }

  nav ul li a {
    padding: 0.2rem 0.2rem; /* Reduce padding for nav links */
  }
}
